<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Josh's Library</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Library Management System</h1>
    <h2>All Books</h2>
    <ul>
      <% books.forEach(book => { %>
      <li>
        <%= book.book_title %> by <%= book.author_id %> (Published in <%=
        book.published_year %>)
      </li>
      <% }) %>
    </ul>
  </body>
</html>
